{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<br>
<p>Here you can download the flat file corresponding to the full interaction network presented in <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4115268/" target="_blank">
    <i>Colinge et al., J.Proteomics, 2014</i></a>, as well as separate files for each interaction type -PPI, KSI or PPI-.</p>

<ul>
    <li><a href="{% static 'full_network_cemm_couzens_20140807.txt' %}" download>Full Network</a></li>
    <br>
    <li><a href="{% static 'all_ksi_20140805.txt' %}" download>Kinase-Substrate Interactions</a></li>
    <li><a href="{% static 'all_ppi_couzens_cemm_20140807.txt' %}" download>Protein-Protein Interactions</a></li>
    <li><a href="{% static 'all_dpi_20140813.txt' %}" download>Drug-Protein Interactions</a></li>

</ul>
<br>
{% endblock %}