
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<h2>An integrated human kinase network</h2>

<h4>Description</h4>

<p>In spite of the importance of protein kinases for cellular regulation and their involvement in human disease and drug discovery, the structure and
    logic of the global, integrated protein phosphorylation network has not yet been investigated in a comprehensive manner. Although continuous efforts
    carried over the last years have increased our knowledge on how kinases phosphorylate and interact with other proteins and small molecules,
    a systems-level understanding of the control provided by these proteins is still lacking.</p>

<p>Here, we provide a compilation of an important corpus of interaction data around human protein kinases extracted from large public data collections.
    We collected and integrated three different types of interactions, namely:</p>
    <ul>
        <li><em>Protein-protein interactions (PPI)</em>,  mainly from measurements of physical association -e.g. <i>affinity purification-mass spectrometry (AP-MS)</i>
            and <i>yeast two-hybrid (Y2H)</i> experiments-</li>
        <li><em>Kinase-substrate interactions (KSI)</em>, corresponding to phosphorylation reactions, obtained originally by both experimental and
            computational methods</li>
        <li><em>Drug-protein interactions (DPI)</em>, which consist in known kinase inhibitors</li>
    </ul>
    <p>Altogether, the integration of PPI, KSI and DPI in large numbers provides a unique opportunity to assemble a comprehensive kinase-centered network
    and constitutes a necessary first step to perform a global study of kinases in their environment.</p>

<p>For further details, refer to the following publication: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4115268/" target="_blank">
    <i>Colinge et al., "Building and exploring and integrated human kinase network: Global organization and medical entry points", J.Proteomics, 2014</i></a>
</p>
<p>In the future, we plan to complement this database with other features and tools in order to perform more context-specific analyses
    of such a network.</p>

<br>

<h4>Current release</h4>

<p>The current release, as of <i>20.August 2014</i>, includes:</p>
    <ul>
        <li>14,146 proteins</li>
        <li>487 protein kinases</li>
        <li>104,979 <i>PPIs</i></li>
            <ul class="submenu">
                <li>- sources: <i><a href="http://www.ebi.ac.uk/intact/" target="_blank">IntAct</a>,
                             <a href="http://mint.bio.uniroma2.it/mint/Welcome.do" target="_blank">MINT</a>,
                             <a href="http://www.innatedb.com/" target="_blank">InnateDB</a>,
                             <a href="http://dip.doe-mbi.ucla.edu/dip/Main.cgi" target="_blank">DIP</a>,
                             <a href="http://www.hprd.org/" target="_blank">HPRD</a>,
                             <a href="http://matrixdb.ibcp.fr/" target="_blank">MatrixDB</a>,
                             <a href="http://www.reactome.org/" target="_blank">Reactome</a>,
                             <a href="http://pid.nci.nih.gov/" target="_blank">PID</a>,
                             <a href="http://mips.helmholtz-muenchen.de/genre/proj/corum" target="_blank">CORUM</a></i>.
                </li>
            </ul>
        <li>23,444 <i>KSIs</i> (8,539 experimental + 14,905 computational)</li>
            <ul class="submenu">
                <li>- sources: <i><a href="http://www.phosphosite.org/" target="_blank">PhosphoSitePlus</a>,
                    <a href="http://phosphonetworks.org/" target="_blank">PhosphoNetworks</a>,
                    <a href="http://phospho.elm.eu.org/" target="_blank">Phospho.ELM</a>,
                    <a href="http://networkin.info/" target="_blank">Networkin</a></i>, and some of the above such as<i>
                    <a href="http://www.ebi.ac.uk/intact/" target="_blank">IntAct</a></i>.
                </li>
            </ul>
        <li>8,046 <i>DPIs</i></li>
            <ul class="submenu">
                <li>- sources: <i><a href="http://www.drugbank.ca/" target="_blank">DrugBank</a></i>, and publications by<i>
                    <a href="http://www.nature.com/nbt/journal/v29/n11/full/nbt.1990.html" target="_blank">Davis et al. 2011</a>,
                    <a href="http://www.nature.com/nbt/journal/v29/n11/full/nbt.2017.html"target="_blank">Anastassiadis et al. 2011</a>,
                    <a href="http://www.nature.com/nbt/journal/v25/n9/full/nbt1328.html" target="_blank">Bantscheff et al. 2007</a>,
                    <a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0077155" target="_blank">Rix et al. 2013</a>,
                    <a href="http://www.nature.com/leu/journal/v24/n1/full/leu2009228a.html" target="_blank">Rix et al. 2010</a>,
                    <a href="http://www.bloodjournal.org/content/110/12/4055.long?sso-checked=true" target="_blank">Rix et al. 2007</a>, </i>and<i>
                    <a href="http://www.nature.com/leu/journal/v23/n3/full/leu2008334a.html" target="_blank">Remsing Rix et al. 2009</a></i>.
                </li>
            </ul>
    </ul>
<p>The following heatmaps show the overlaps between different databases:</p>
    <ul>
        <li>PPI:</li>
        <div class="heatmap"><img src="{% static 'ppi_counts_20140807.jpg' %}" alt="ppi_heatmap" height="600" width="600"/></div>
    </ul>

{% endblock %}